table {
    border-collapse: collapse;
    font-family: "Merriweather", serif;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
    text-align: left;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

ol.a {
    list-style-type: upper-roman;
}

ol.b {
    list-style-type: lower-alpha;
}

ul.c {
    list-style-type: square;
}

ul.d {
    list-style-type: "$";
}

a {
    text-decoration: none;
}

#JS-wiki:link {
    color: #FF00FF;
}

#JS-wiki:visited {
    color: #C3F;
}

#JS-wiki:hover {
    color: #FF66FF;
}

li::first-letter && :not(.nav-link){
    color: #800000;
    font-weight: bold;
}