body {
  /* background-color: #D6D6CE; */
  color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: #800000;
  font-weight:500;
  text-align: center;
  font-size: larger;
}

p {
  font-size: larger;
  margin-top: 20px;
  margin-bottom: 20px;
}

p#welcome {
  font-size: larger;
  margin-top: 20px;
  font-weight: bold;
  vertical-align: middle;
}

p#footer {
  font-size: medium;
  text-align: right;
  align-items: center;
}

p.info {
  margin-left: 20px;
}

p.inner-info {
  margin-left: 40px;
}

.col-md-8 {
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.row#welcome {
  align-items: center;
  margin-top: 200px;
}

.footer {
  width: 100%;
  background-color: #D6D6CE;
  margin-top: auto;
}

.icon-button {
  margin-top: 5px;
}

#carouselCaptions {
  width: fit-content;
  align-self: center;
  align-items: center;
}

.carousel-inner {
  object-fit: cover;
  object-position: center;
  height: 60vh;
}

.carousel-item {
  object-fit: cover;
  object-position: center;
  height: 100%;
  overflow: hidden;
}

.carousel-item:before {
  content: "";
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, .8));
  display: block;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
}

/* Cards */
.cardBtn {
  background-color: lightgray;
}